<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dian.mmall.dao.BunnerMapper">
    
    <select id="getBunnerList" resultType="com.dian.mmall.pojo.banner.DibuBunner">
      select  tableName,tableId,url ,dibuBunnerbiaoti,introduceList,releaseType from dibubunner 
      where  role=#{role}  and bunnerType=#{bunnerType} and bunnerStatus=1 and 
      startTime &lt;= #{date}  and endTime &gt;= #{date}
       <if test="permissionid!=null">and  permissionid=#{permissionid}  </if>  
         <if test="detailed!=null">and  detailed  like #{detailed}  </if> 
       

      order by updateTime  desc  limit 2
      
    </select>
    
   
</mapper>