<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.dian.mmall.dao.releaseDao.DepartmentStoreMapper">

	<!--发布过的条数 -->
	<select id="countNum" resultType="int">
		select count(*) from
		departmentstore where welfareStatus!=3 and
		releaseType=#{releaseType}
		and userId =#{userId}
	</select>
	<!--发布过的条数 -->
	<select id="getreleaseType" resultType="int">
		select releaseType from
		departmentstore where  id =#{id}
	</select>



	<!--创建用户成功返回非0 -->
	<insert id="create_departmentStore">
		insert into departmentstore (
		userId,releaseType,updateTime,createTime,pictureUrl,
		consigneeName,userType,serviceDetailed,
		remarks,
		serviceIntroduction,releaseTitle,authentiCationStatus,welfareStatus,
		serviceAndprice,serviceType,termOfValidity
		) values (
		#{userId},
		#{releaseType}, #{updateTime}, #{createTime},#{pictureUrl},
		#{consigneeName},#{userType},
		#{serviceDetailed},
		#{remarks},#{serviceIntroduction},
		#{releaseTitle},#{authentiCationStatus},#{welfareStatus},
		#{serviceAndprice},#{serviceType},#{termOfValidity}
		)
	</insert><!-- countNum -->

	<!-- 审核分页总条数 -->
	<select id="adminDepartmentStore_no" resultType="long">
		select count(*) from departmentstore where authentiCationStatus
		in(1,3) and releaseType=#{releaseType}
		<if test="contact!=null and contact.trim()!=''">and userId in (select
			userId from t_user_realname where
			contact=#{contact} )
		</if>
	</select>

	<!-- 审核分页 -->

	<select id="adminDepartmentStore"
		resultType="com.dian.mmall.pojo.gongfu.DepartmentStore">
		select id,userId,releaseType,
		releaseTitle,serviceIntroduction,remarks,pictureUrl,serviceType,serviceAndprice,serviceDetailed,
		welfareStatus,authentiCationStatus,authentiCationFailure,
		consigneeName,createTime,
		updateTime,userType,examineName,examineTime
		from departmentstore
		where authentiCationStatus in(1,3) and
		releaseType=#{releaseType}
		<if test="contact!=null and contact.trim()!=''">and userId in (select
			userId from t_user_realname where
			contact=#{contact} )
		</if>
		order by createTime
		limit #{pageLength}, #{pageSize}
	</select>

	<!-- 审核 -->

	<update id="examineDepartmentStore">
		update departmentstore set
		authentiCationStatus=#{authentiCationStatus},authentiCationFailure=#{authentiCationFailure},examineTime=#{examineTime},examineName=#{examineName},
		welfareStatus=#{welfareStatus}
		where userId=#{userId} and id=#{id}
	</update>


	<!--用户查询分页总条数 -->
	<select id="get_myDepartmentStore_list_no" resultType="long">
		select count(*) from departmentstore where welfareStatus!=3 and
		userId=#{userId} and releaseType=#{releaseType}
		<if test="welfareStatus!=null">and welfareStatus=#{welfareStatus}   </if>

	</select>
	<!--用户查询分页 -->
	<select id="get_myDepartmentStore_list"
		resultType="com.dian.mmall.pojo.gongfu.DepartmentStore">
		select id,userId,evaluateid,servicFrequenc,releaseType,
		releaseTitle,serviceIntroduction,remarks,pictureUrl,serviceType,serviceAndprice,
		welfareStatus,authentiCationStatus,authentiCationFailure,
		consigneeName,createTime,
		updateTime,serviceDetailed,termOfValidity
		from departmentstore
		where welfareStatus!=3 and userId=#{userId} and
		releaseType=#{releaseType}
		<if test="welfareStatus!=null">and welfareStatus=#{welfareStatus}   </if>
		order by updateTime desc
		limit #{pageLength}, #{pageSize}
	</select>


	<!-- 操作列 -->
	<update id="operation_userDepartmentStore">
		update departmentstore set
		<if test="type==1 "> updateTime=#{timeString} ,
			termOfValidity=#{termOfValidity}
		</if>
		<if test="type==2 "> updateTime=#{timeString} ,
			termOfValidity=#{termOfValidity} ,welfareStatus=1
		</if>
		<if test="type==3 "> welfareStatus=2,updateTime=#{timeString} </if>
		<if test="type==4 "> welfareStatus=1,updateTime=#{timeString},termOfValidity=#{termOfValidity}</if>
		<if test="type==5 "> welfareStatus=3,updateTime=#{timeString}</if>
		
		<if test="type==7 ">welfareStatus=5,updateTime=#{timeString},examineName='过期定时任务'
		</if>
		<if test="type==8 ">welfareStatus=3,updateTime=#{timeString},examineName='删除定时任务'
		</if>
		where userId=#{userId} and id=#{id}
		<if test="type==4 "> and welfareStatus not in(4,3)</if>
		<if test="type==2 or type==8 "> and welfareStatus=5 and authentiCationStatus=2</if>
	</update>


	<!--用户查询分页 -->
	<select id="get_userDepartmentStore_id"
		resultType="com.dian.mmall.pojo.gongfu.DepartmentStore">
		select id,userId,releaseType,
		releaseTitle,serviceIntroduction,remarks,pictureUrl,serviceType,serviceAndprice,
		serviceDetailed,authentiCationStatus,authentiCationFailure,
		consigneeName,createTime,termOfValidity
		from
		departmentstore
		where welfareStatus!=3 and userId=#{userId} and
		id=#{id}
	</select>

	<!-- 用户编辑 -->
	<update id="update_departmentStore">
		update departmentstore set
		pictureUrl=#{pictureUrl},authentiCationStatus=#{authentiCationStatus},
		welfareStatus=#{welfareStatus},serviceDetailed=#{serviceDetailed},
		remarks=#{remarks},serviceIntroduction=#{serviceIntroduction},serviceType=#{serviceType},serviceAndprice=#{serviceAndprice},
		releaseTitle=#{releaseTitle},updateTime=#{updateTime},termOfValidity=#{termOfValidity},
		consigneeName=#{consigneeName}
		where welfareStatus!=3 and
		userId=#{userId} and id=#{id}
	</update>


	<!-- 查看该实名城市下发布过服务的标题 -->
	<select id="getDepartmentStoreTitleList" resultType="String">
		select
		<if test="type==1 "> DISTINCT releaseTitle </if>
		<if test="type==2 "> DISTINCT serviceType </if>
		from departmentstore where welfareStatus=1
		and userId in (select userId
		from t_user_realname where detailed like
		#{detailed})
		<if test="releaseTitle!=null and releaseTitle.trim()!=''">and releaseTitle like #{releaseTitle}   </if>
		<if test="serviceType!=null and serviceType.trim()!=''">and serviceType like #{serviceType}   </if>
		<if test="releaseType!=null ">and releaseType=#{releaseType}  </if>
	</select>

	<!-- 公开列表分页总数 -->

	<select id="getDepartmentStorePublicListNo" resultType="long">
		select count(*) from departmentstore where welfareStatus=1
		and userId
		in (select userId from t_user_realname where detailed like
		#{detailed})
		<if test="releaseTitle!=null and releaseTitle.trim()!=''">and releaseTitle like #{releaseTitle}   </if>
		<if test="serviceType!=null and serviceType.trim()!=''">and serviceType =#{serviceType}   </if>
		<if test="releaseType!=null ">and releaseType=#{releaseType}  </if>
	</select>
	<!-- 公开列表分页概览 -->
	<select id="getDepartmentStorePublicList"
		resultType="com.dian.mmall.pojo.gongfu.DepartmentStore">
		select
		id,servicFrequenc,releaseTitle,pictureUrl,serviceType,serviceDetailed,releaseType
		from departmentstore where welfareStatus=1
		and userId in (select userId
		from t_user_realname where detailed like #{detailed})
		<if test="releaseTitle!=null and releaseTitle.trim()!=''">and releaseTitle like #{releaseTitle}   </if>
		<if test="serviceType!=null and serviceType.trim()!=''">and serviceType =#{serviceType}   </if>
		<if test="releaseType!=null ">and releaseType=#{releaseType}  </if>
		order by updateTime desc
		limit #{pageLength}, #{pageSize}
	</select>

	<!--用户查询分页 -->
	<select id="getDepartmentStoreDetails"
		resultType="com.dian.mmall.pojo.gongfu.DepartmentStore">
		select id,userId,evaluateid,servicFrequenc,releaseType,
		releaseTitle,serviceIntroduction,remarks,pictureUrl,serviceType,serviceAndprice,
		consigneeName,createTime,
		updateTime,serviceDetailed,termOfValidity
		from departmentstore
		where
		welfareStatus=1 and id=#{id}
	</select>

	<!--管理查全部 -->
	<select id="adminGetDsall"
		resultType="com.dian.mmall.pojo.gongfu.DepartmentStore">
		select id,userId,evaluateid,servicFrequenc,releaseType,
		releaseTitle,serviceIntroduction,remarks,pictureUrl,serviceType,serviceAndprice,
		consigneeName,createTime,welfareStatus,
		updateTime,serviceDetailed,termOfValidity
		from departmentstore
		where
		welfareStatus=1 and
		userId=#{userId}
	</select>

</mapper>