<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dian.mmall.dao.OrderExampleTimerMapper">


	<!--根据id查 
	<select id="getall" resultType="long">
		select id from
		<if test="a ==1"> wineandtableware    </if>
		<if test="a==2"> equipment    </if>
		<if test="a==3"> rent    </if>
		<if test="a==4"> menuandrenovationandpestcontrol    </if>
		<if test="a==5"> resume    </if>
		<if test="a==6"> departmentstore    </if>
		where authentiCationStatus=2 and welfareStatus=1
		and termOfValidity
		&lt; #{dateString}
	</select>-->

	<!-- 管理删除操作 -->
	<update id="adminupall">
		update
		<if test="tablenameid ==1"> release_welfare   </if>
		<if test="tablenameid==2"> fabu    </if>
		<if test="tablenameid==3"> resume    </if>		
		<if test="tablenameid ==9"> shichang_wholesalecommodity   </if>
		set
		updateTime=#{updateTime}, examineName=#{username}, welfareStatus=3
		where id=#{id}
	</update>
   <!-- 创建广告时查询失效时间 -->
	<select id="getcoutn" resultType="String">
		select 
		 <if test="tablenameid ==9"> endTime  </if>    
		 <if test="tablenameid !=9"> termOfValidity  </if>  
		  from
		<if test="tablenameid ==1"> release_welfare   </if>
		<if test="tablenameid ==9"> shichang_wholesalecommodity   </if>
		<if test="tablenameid==2"> fabu    </if>
		<if test="tablenameid==3"> resume    </if>
		where authentiCationStatus=2 and welfareStatus=1 and userId=#{userId}
		and  id=#{tableId}
	</select>



	<!-- 定时任务更新 为失效 -->
	<update id="upall">
		update
		<if test="a ==1"> release_welfare    </if>
		<if test="a==2"> fabu    </if>
		<if test="a==3"> resume    </if>
		set
		updateTime=#{dateString}, examineName='过期定',welfareStatus=5
		where
		authentiCationStatus=2
		and welfareStatus=1
		and termOfValidity &lt;
		#{dateString}
	</update>
	<!-- 定时任务更新 为删除 -->
	
	
	<update id="delall">
		update
		<if test="a ==1"> release_welfare    </if>
		<if test="a==2"> fabu    </if>
		<if test="a==3"> resume    </if>
		set
		updateTime=#{dateString}, examineName='删除定',welfareStatus=3
		where
		termOfValidity &lt; #{termOfValidity}
		and welfareStatus in (2,4,5)
	</update>

	<!-- 定时任务更新 广告更新为失效 -->
	<update id="timer_guanggaoguoqi">
		update dibubunner 
		set
		updateTime=#{dateString}, examineName='过期定', bunnerStatus=2
		where
		endTime  &lt;=  #{dateString}
		and moren!=0
	</update>
	
	<!-- 定时任务更新 广告更新为生效 -->
	<update id="timer_guanggaoshengxiao">
		update dibubunner 
		set
		updateTime=#{dateString},  bunnerStatus=1
		where
		startTime &lt;=  #{dateString}
		and bunnerStatus=0
	</update>

</mapper>