<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dian.mmall.dao.releaseDao.EvaluateMapper">
     
     <!--发布过的条数  -->
     <select id="countNum" resultType="int">
        select count(*) from menuandrenovationandpestcontrol where welfareStatus!=3  and releaseType=#{releaseType} and userId =#{userId}
    </select>
         
     <!--根据id查  -->
     <select id="selectEvvaluateById" resultType="com.dian.mmall.pojo.pingjia.Evaluate">
        select * from evaluate where id=#{id}
    </select>
    
    <!--接单用户根据用户id查评价  -->
     <select id="selectEvvaluateByUserId" resultType="com.dian.mmall.pojo.pingjia.Evaluate">
        select * from evaluate where
         userId=#{userId}   
         and permissionid=-1
         and releaseid=-1
    </select>
    <!--查询id -->
     <select id="getid" resultType="long">
        select id from evaluate where
         userId=#{userId}   
         and permissionid=#{permissionid}
    </select>
    
    
    <insert id="adminAddOrderCreateEvaluate">
		insert into evaluate (
		permissionid,userId,releaseid,fuwutaiduhao,fuwutaiduzhong,
		fuwutaiducha,jiagegao,jiagezhong,jiagedi,
		zhuanyehao,zhuanyemanyi,zhuayeyiban,zhunshihao,
		zhunshijiaohao,zhunshijiaocha,shouhouhao,shouhouzhong,
		shouhoucha,zhilianghao,zhiliangyiban,zhiliangcha) values (
		#{permissionid},#{userId},#{releaseid},#{fuwutaiduhao},#{fuwutaiduzhong},
		#{fuwutaiducha},#{jiagegao},#{jiagezhong},#{jiagedi},
		#{zhuanyehao},#{zhuanyemanyi},#{zhuayeyiban},#{zhunshihao},
		#{zhunshijiaohao},#{zhunshijiaocha},#{shouhouhao},#{shouhouzhong},
		#{shouhoucha},#{zhilianghao},#{zhiliangyiban},#{zhiliangcha}
		)
	</insert>
    
</mapper>