<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dian.mmall.dao.FabuMapper">

	<!--发布过的条数 -->
	<select id="getFabuCount" resultType="int">
		select count(*) from fabu
		where welfareStatus!=3 and
		releaseType=#{releaseType} and
		userId=#{userId}
	</select>

	<select id="getid" resultType="long">
		select id from fabu
		where
		userId=#{userId} and createTime=#{createTime}
		and
		releaseType=#{releaseType} and releaseTitle=#{releaseTitle}
	</select>

	<!--创建用户成功返回非0 -->
	<insert id="createfabu">
		insert into fabu (
		userId,releaseType,updateTime,createTime,pictureUrl,mianjia,
		consigneeName,userType,serviceDetailed,
		remarks,
		serviceIntroduction,releaseTitle,authentiCationStatus,welfareStatus,
		serviceAndprice,serviceType,termOfValidity
		) values (
		#{userId},
		#{releaseType}, #{updateTime}, #{createTime},#{pictureUrl},#{mianjia},
		#{consigneeName},#{userType},
		#{serviceDetailed},
		#{remarks},#{serviceIntroduction},
		#{releaseTitle},#{authentiCationStatus},#{welfareStatus},
		#{serviceAndprice},#{serviceType},#{termOfValidity}
		)
	</insert>

	<update id="upevaluate">
		update fabu set
		evaluateid=#{evaluateid}
		where id=#{id}
	</update>
	<!-- 审核分页总条数 -->
	<select id="adminfabuno" resultType="long">
		select count(*) from fabu where authentiCationStatus
		in(1,3) and
		releaseType=#{releaseType}
		<if test="contact!=null and contact.trim()!=''">and userId in (select
			userId from t_user_realname where
			contact=#{contact} )
		</if>
	</select>

	<!-- 审核分页 -->

	<select id="adminfabu"
		resultType="com.dian.mmall.pojo.fabu.Fabu">
		select id,userId,releaseType,
		releaseTitle,serviceIntroduction,remarks,pictureUrl,mianjia,
		welfareStatus,authentiCationStatus,authentiCationFailure,
		termOfValidity,serviceDetailed,consigneeName,
		serviceType,serviceAndprice,examineName,examineTime,
		createTime,userType
		from fabu
		where authentiCationStatus in(1,3) and
		releaseType=#{releaseType}
		<if test="contact!=null and contact.trim()!=''">and userId in (select
			userId from t_user_realname where
			contact=#{contact} )
		</if>
		order by createTime
		limit #{pageLength}, #{pageSize}
	</select>

	<!-- 审核 -->
	<update id="examineResume">
		update fabu set
		authentiCationStatus=#{authentiCationStatus},authentiCationFailure=#{authentiCationFailure},examineTime=#{examineTime},examineName=#{examineName},
		welfareStatus=#{welfareStatus}
		where userId=#{userId} and id=#{id}
	</update>
	<!-- 操作 -->
	<update id="upfabu">
		update fabu set
		<if test="type==1 "> updateTime=#{timeString} ,
			termOfValidity=#{termOfValidity}
		</if>
		<if test="type==2 "> updateTime=#{timeString} ,
			termOfValidity=#{termOfValidity} ,welfareStatus=1
		</if>
		<if test="type==3 "> welfareStatus=2,updateTime=#{timeString} </if>
		<if test="type==4 ">
			welfareStatus=1,updateTime=#{timeString},termOfValidity=#{termOfValidity}
		</if>
		<if test="type==5 "> welfareStatus=3,updateTime=#{timeString}</if>

		<if test="type==7 ">welfareStatus=5,updateTime=#{timeString},examineName='过期定时任务'
		</if>
		<if test="type==8 ">welfareStatus=3,updateTime=#{timeString},examineName='删除定时任务'
		</if>
		where userId=#{userId} and id=#{id}
		<if test="type==4 "> and welfareStatus not in(4,3) and authentiCationStatus=2
		</if>
		<if test="type==2 or type==8 "> and welfareStatus=5 and authentiCationStatus=2</if>
		<if test="type==3"> and welfareStatus=1</if>
	</update>

	<!--用户查询分页总条数 -->
	<select id="getmyfabuno" resultType="long">
		select count(*) from fabu where welfareStatus!=3 and
		userId=#{userId}
		and releaseType=#{releaseType}
		<if test="welfareStatus!=null">and welfareStatus=#{welfareStatus}   </if>
		<if test="releaseType==14">and releaseType in (14,15)   </if>
	</select>
	<!--用户查询分页 -->
	<select id="getmyfabu"
		resultType="com.dian.mmall.pojo.fabu.Fabu">
		select id,userId,releaseType,
		releaseTitle,serviceIntroduction,remarks,pictureUrl,mianjia,
		welfareStatus,authentiCationStatus,authentiCationFailure,
		termOfValidity,serviceDetailed,consigneeName,
		serviceType,serviceAndprice,createTime,servicFrequenc
		from fabu
		where
		welfareStatus!=3 and
		userId=#{userId}
		and releaseType=#{releaseType}
		<if test="welfareStatus!=null">and welfareStatus=#{welfareStatus}   </if>
		<if test="releaseType==14">and releaseType in (14,15)   </if>
		order by updateTime desc
		limit #{pageLength}, #{pageSize}
	</select>
	<select id="getmyfabubyid"
		resultType="com.dian.mmall.pojo.fabu.Fabu">
		select id,userId,releaseType,
		releaseTitle,serviceIntroduction,remarks,pictureUrl,mianjia,
		welfareStatus,authentiCationStatus,authentiCationFailure,
		serviceDetailed,consigneeName,
		serviceType,serviceAndprice,servicFrequenc
		from fabu
		where
		welfareStatus!=3 and id=#{id} and
		userId=#{userId}
	</select>
</mapper>