<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dian.mmall.dao.releaseDao.MenuAndRenovationAndPestControlMapper">
     
     <!--发布过的条数  -->
     <select id="countNum" resultType="int">
        select count(*) from menuandrenovationandpestcontrol where welfareStatus!=3  and releaseType=#{releaseType} and userId =#{userId}
    </select>
         
          <!--创建用户成功返回非0  -->
     <insert id="create_menuAndRenovationAndPestControl"  >
        insert into menuandrenovationandpestcontrol (
        userId,releaseType,updateTime,createTime,pictureUrl,contact,
        consigneeName,companyName,detailed,addressDetailed,userType,serviceDetailed,
        startPrice,remarks,
        serviceIntroduction,releaseTitle,authentiCationStatus,welfareStatus
        ) values (
            #{userId},  #{releaseType}, #{updateTime}, #{createTime},#{pictureUrl},
            #{contact},#{consigneeName},#{companyName},#{detailed},
            #{addressDetailed},#{userType},
            #{serviceDetailed},#{startPrice},
            #{remarks},#{serviceIntroduction},
            #{releaseTitle},#{authentiCationStatus},#{welfareStatus}
        )
    </insert><!-- countNum -->
    
              <!--用户查询分页总条数  --> 
        <select id="get_usermrp_list_no"  resultType="long">
        select count(*) from menuandrenovationandpestcontrol where welfareStatus!=3 and userId=#{userId}   
        <if test="welfareStatus!=null">and  welfareStatus=#{welfareStatus}   </if>  
        <if test="releaseType!=null">and  releaseType=#{releaseType}   </if>  
    </select> 
    
       <!--用户查询分页--> 
        <select id="get_usermpr_list_all"  resultType="com.dian.mmall.pojo.meichongguanggao.MenuAndRenovationAndPestControl">
        select id,userId,evaluateid,servicFrequenc,releaseType,
    releaseTitle,serviceIntroduction,remarks,pictureUrl,startPrice,
    welfareStatus,authentiCationStatus,authentiCationFailure,
    detailed,addressDetailed,contact,consigneeName,createTime,
    updateTime,serviceDetailed,companyName
       from menuandrenovationandpestcontrol       
       where welfareStatus!=3 and userId=#{userId} 
        <if test="welfareStatus!=null">and  welfareStatus=#{welfareStatus}   </if>  
        <if test="releaseType!=null">and  releaseType=#{releaseType}   </if>  
       order by  updateTime desc
        limit #{pageLength}, #{pageSize}
    </select>
    
    
    
    
    
          <!-- 审核分页总条数 --> 
        <select id="get_mrp_list_no"  resultType="long">
        select count(*) from menuandrenovationandpestcontrol where authentiCationStatus in(1,3)   
       <if test="contact!=null and contact.trim()!=''">and  contact=#{contact}   </if>  
        <if test="releaseType!=null">and  releaseType=#{releaseType}   </if>  
    </select> 
    <!-- 审核分页 -->
        
        <select id="get_mpr_list_all"  resultType="com.dian.mmall.pojo.meichongguanggao.MenuAndRenovationAndPestControl">
        select id,userId,evaluateid,servicFrequenc,releaseType,
    releaseTitle,serviceIntroduction,remarks,pictureUrl,startPrice,
    welfareStatus,authentiCationStatus,authentiCationFailure,
    detailed,addressDetailed,contact,consigneeName,createTime,
    updateTime,serviceDetailed,companyName,examineName,examineTime,userType
       from menuandrenovationandpestcontrol       
       where authentiCationStatus in(1,3)  
         <if test="contact!=null and contact.trim()!=''">and  contact=#{contact}   </if>   
        <if test="releaseType!=null">and  releaseType=#{releaseType}   </if>  
       order by  createTime
        limit #{pageLength}, #{pageSize}
    </select> 
    
       <!-- 审核  -->  
    
       <update id="examineMrp" >
       update menuandrenovationandpestcontrol set  
       authentiCationStatus=#{authentiCationStatus},authentiCationFailure=#{authentiCationFailure},examineTime=#{examineTime},examineName=#{examineName},
       welfareStatus=#{welfareStatus}
        where userId=#{userId}  and id=#{id}
    </update>
    
    
        <!-- 刷新，隐藏等操作 -->
            <update id="operation_usermrp" >
       update menuandrenovationandpestcontrol set  
      <if test="type==1 "> updateTime=#{timeString}  </if>
      <if test="type==3 "> welfareStatus=2,updateTime=#{timeString} </if>
      <if test="type==4 "> welfareStatus=1,updateTime=#{timeString}</if>
      <if test="type==5 "> welfareStatus=3,updateTime=#{timeString}</if> 
        where userId=#{userId}  and id=#{id}
      <if test="type==4 "> and welfareStatus not in(4,3)</if>
    </update>
    
    <!-- 用户根据id查询自己发布的 -->
         <select id="get_usermrp_id"  resultType="com.dian.mmall.pojo.meichongguanggao.MenuAndRenovationAndPestControl">
        select id,userId,releaseType,
    releaseTitle,serviceIntroduction,remarks,pictureUrl,startPrice,
    detailed,addressDetailed,contact,consigneeName,serviceDetailed,companyName,
    welfareStatus,authentiCationStatus,createTime
       from menuandrenovationandpestcontrol       
       where welfareStatus!=3 and userId=#{userId} and id=#{id}
    </select>
    
     <!-- 用户编辑 -->
       <update id="update_menuAndRenovationAndPestControl" >
       update menuandrenovationandpestcontrol set       
    releaseTitle=#{releaseTitle},serviceIntroduction=#{serviceIntroduction},
    remarks=#{remarks},pictureUrl=#{pictureUrl},startPrice=#{startPrice},
    serviceDetailed=#{serviceDetailed},updateTime=#{updateTime},
    authentiCationStatus=#{authentiCationStatus},welfareStatus=#{welfareStatus}
  
     where welfareStatus!=3 and userId=#{userId} and id=#{id}
    </update>
     
     <!-- 公开列表分页总数 -->  
     
        <select id="getmrpListNo"  resultType="long">
        select count(*) from menuandrenovationandpestcontrol where welfareStatus=1  and  releaseType=#{releaseType} and detailed like #{detailed}
       <if test="releaseTitle!=null and releaseTitle.trim()!=''">and  releaseTitle =#{releaseTitle}   </if>  
    </select> 
     
     
         <select id="getmrpList"  resultType="com.dian.mmall.pojo.meichongguanggao.MenuAndRenovationAndPestControl">
        select id,servicFrequenc,releaseTitle,pictureUrl,startPrice,serviceDetailed from menuandrenovationandpestcontrol where welfareStatus=1   and  releaseType=#{releaseType}
       and detailed like #{detailed}
       <if test="releaseTitle!=null and releaseTitle.trim()!=''">and  releaseTitle = #{releaseTitle}   </if>  
       order by updateTime desc
        limit #{pageLength}, #{pageSize}
    </select> 
    
     <select id="getReleaseTitleList"  resultType="String">
        select DISTINCT releaseTitle from menuandrenovationandpestcontrol where welfareStatus=1   and  releaseType=#{releaseType} and detailed like #{detailed}
        <if test="releaseTitle!=null and releaseTitle.trim()!=''">and  releaseTitle like #{releaseTitle}   </if>         
    </select> 
     
</mapper>