<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.dian.mmall.dao.goumaidingdan.OrderCommonOfferMapper">


	<!--根据id查 -->
	<select id="getInitial"
		resultType="com.dian.mmall.pojo.goumaidingdan.OrderCommonOffer">
		select * from order_common_offer
		where
		orderFormId=#{orderFormId}
		<if test="type==3  "> and commodStatus=0</if>
		<if test="type==2  "> and commodStatus=1</if>
	</select>

	<!-- -->
	<select id="getInitialCount" resultType="int">
		select count(*) from
		order_common_offer
		where
		orderFormId=#{orderFormId}
		and commodStatus=0
	</select>
	<!--查询此订单改接单用户是否已经报价 -->
	<select id="getmybaojia" resultType="int">
		select count(*) from
		order_common_offer
		where
		orderFormId=#{orderFormId}
		and saleUserId=#{saleUserId}
		<if test="commodStatus==5  "> and commodStatus in(0,1)</if>
		<if test="commodStatus!=5  "> and commodStatus =#{commodStatus}</if>
	</select>



	<select id="getSuccess"
		resultType="com.dian.mmall.pojo.goumaidingdan.OrderCommonOffer">
		select * from order_common_offer
		where
		orderFormId=#{orderFormId}
		and saleUserId=#{saleUserId}
		and
		commodStatus=1
	</select>
	<select id="getbysucc"
		resultType="com.dian.mmall.pojo.goumaidingdan.OrderCommonOffer">
		select * from order_common_offer
		where
		id=#{id}
		and
		commodStatus=#{commodStatus}
	</select>

	<!-- 用户操作 全部失败 -->
	<update id="operation_purchase_evaluate_all">
		update order_common_offer set
		updateTime=#{updateTime},commodStatus=2
		where
		orderFormId=#{orderFormId}
	</update>

	<!-- 用户操作 确认过订单后支付前关单 -->
	<update id="operation_purchase_evaluate_id">
		update order_common_offer set
		updateTime=#{updateTime},commodStatus=2
		where
		orderFormId=#{orderFormId} and commodStatus=1 and
		saleUserId=#{saleUserId}
	</update>


	<!-- 用户操作 更新成功的 -->
	<update id="operation_purchase_evaluate_selected">
		update order_common_offer set
		updateTime=#{updateTime},commodStatus=1
		where
		orderFormId=#{orderFormId} and commodStatus=0
		and
		saleUserId=#{saleUserId} and id=#{id}
	</update>

	<!-- 用户操作 全部失败 -->
	<update id="operation_purchase_evaluate_noSelected">
		update order_common_offer set
		updateTime=#{updateTime},commodStatus=2
		where
		orderFormId=#{orderFormId} and commodStatus=0
	</update>

	<!-- 定时任务更新，销售商，购买方未支付 质保金/定金 -->
	<update id="uptateGuanDan">
		update order_common_offer set
		updateTime=#{updateTime},commodStatus=2
		where
		orderFormId=#{orderFormId} and saleUserId=#{saleUserId}
	</update>

	<update id="uptateGuanDanById">
		update order_common_offer set
		updateTime=#{updateTime},commodStatus=2
		where id=#{id}
	</update>

	<insert id="creoffer">
		insert into order_common_offer (
		commodityZongJiage,saleUserId
		,orderFormId,createTime,
		updateTime,commodStatus,contact,consigneeName,saleUserAddressDetailed
		,saleCompanyName)

		values (
		#{commodityZongJiage},#{saleUserId}
		,#{orderFormId},#{createTime},
		#{updateTime},#{commodStatus},#{contact},#{consigneeName},#{saleUserAddressDetailed}
		,#{saleCompanyName})
	</insert>


	<select id="getId" resultType="long">
		select id from order_common_offer
		where
		orderFormId=#{orderFormId}
		and saleUserId=#{saleUserId}
		and
		createTime=#{createTime}
		and
		commodStatus=#{commodStatus}
	</select>


	<!--创建用户成功返回非0 <insert id="createCommonMenu"> insert into common_menu ( 
		userId,servicetypeId ) values ( #{userId},#{servicetypeId} ) </insert> <update 
		id="updateCommonMenu"> update common_menu set servicetypeId=#{servicetypeId} 
		where userId=#{userId} </update> -->
</mapper>