<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dian.mmall.dao.OrderMapper">
	<select id="get_conduct_order" resultType="int">
		select count(*) from orderform where
		wholesaleCommodityId=#{wholesaleCommodityId}
		<if test="orderStatus==0">and `orderStatus` in (1,2,4)   </if>
		<!-- <if test="orderStatus==99"> and `orderStatus` in (1,2,4) </if> -->

	</select>


	<!--创建用户成功返回非0 -->
	<insert id="create_order">
		insert into orderform (
		purchaseUserId,saleUserId,wholesaleCommodityId,evaluateid,commodityJiage,commodityCountNo,
		commodityZongJiage ,reserve
		,deliveryType,deliveryCollect,addressDetailed,giveTakeTime,remarks,
		createTime,confirmTime,paymentTime,guanShanTime,guanShanReason,collectTime,orderStatus,payStatus,
		commoditySnapshot,releaseType,permissionId,guaranteeMoney,yesGuaranteeMoney,balanceMoney
		) values (
		#{purchaseUserId},#{saleUserId},#{wholesaleCommodityId},#{evaluateid},#{commodityJiage},#{commodityCountNo},
		#{commodityZongJiage},#{reserve},
		#{deliveryType},#{deliveryCollect},#{addressDetailed},#{giveTakeTime},#{remarks},
		#{createTime},#{confirmTime},#{paymentTime},#{guanShanTime},#{guanShanReason},#{collectTime},#{orderStatus},#{payStatus},
		#{commoditySnapshot},#{releaseType},#{permissionId},#{guaranteeMoney},#{yesGuaranteeMoney},#{balanceMoney}
		)
	</insert>
	<select id="getId" resultType="long">
		select id from orderform where
		purchaseUserId=#{purchaseUserId}
		and createTime=#{createTime}
		and
		orderStatus=#{orderStatus}
	</select>

	<select id="get_shut_orders"
		resultType="com.dian.mmall.pojo.Order">
		select * from orderform where
		purchaseUserId=#{purchaseUserId}
		and
		createTime between #{between} and #{and}
		and reserve=3
		<if test="type == 2">  <!-- 没有做空判断调用时需要判断，传入相应的type 否则会报错 -->
			and id not IN
			<foreach item="item" index="index"
				collection="orderStatus_liStrings" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</select>

	<select id="getOrderById" resultType="com.dian.mmall.pojo.Order">
		select * from orderform
		where
		purchaseUserId=#{purchaseUserId}
		and id=#{id}
	</select>



	<!-- 用户操作 operation_purchase_order(int type, long id, String updateTime); -->
	<update id="operation_purchase_order">
		update orderform set
		updateTime=#{updateTime},orderStatus=#{orderStatus}
		<if test="orderStatus==3 or orderStatus==11">
			, saleUserId=0
			<if test=" orderStatus==11">, createTime=#{updateTime},commodityZongJiage=0</if>
		</if>

		<if test="orderStatus==13">, saleUserId=#{saleUserId}
			,commodityZongJiage=#{commodityZongJiage}</if>
		<if test="orderStatus==4">, guaranteeMoney=#{guaranteeMoney}
			,balanceMoney=#{balanceMoney} ,yesGuaranteeMoney=1</if>
		where id=#{id}
		<if test="orderStatus==3 "> and orderStatus in(12,11,18)</if>
		<if test="orderStatus==11 "> and orderStatus in(3,17,19,20)</if>
		<if test="orderStatus==13 "> and orderStatus in(11,18) </if>
		<if test="orderStatus==12 or orderStatus==20 "> and orderStatus =13</if>
		<if test="orderStatus==4 or orderStatus==19"> and orderStatus =12</if>
		<if test="orderStatus==16 "> and orderStatus =4</if>
		<if test="orderStatus==18 or orderStatus==17  "> and orderStatus =11</if>
	</update>
   
   	<!-- 微信支付回调或定时任务  -->
	<update id="callbackUpDateOrder">
		update orderform set
		updateTime=#{updateTime},orderStatus=#{orderStatus},guanShanReason=#{guanShanReason}
		<if test="payStatus==4  or payStatus==5">
			, paymentTime={paymentTime},guaranteeMoney={guaranteeMoney},
			payStatus=#{payStatus}
			
			<if test="payStatus==5">,guanShanTime=#{guanShanTime} </if>
		</if>
		where id=#{id}
		<if test="orderStatus==21 "> and orderStatus !=3 </if>
		<if test="payStatus==4 or payStatus==5 "> and orderStatus ==12 </if>
	</update>
   
   
   	<select id="timerOrderStatus" resultType="com.dian.mmall.pojo.Order">
		select id,saleUserId,purchaseUserId,createTime,orderStatus,yesGuaranteeMoney,payStatus,updateTime 
		from orderform
		where
		orderStatus in (11,12,13,18)
		
	</select>
   
</mapper>