<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dian.mmall.dao.PictureMapper">
  
  
    <select id="selectPicture" resultType="com.dian.mmall.pojo.tupian.Picture"  >
        select * from picture
        where useStatus = #{useStatus} and userName=#{userName} and 
        tocken=#{tocken}  and pictureName=#{pictureName} and pictureUrl=#{pictureUrl}  and createTime=#{createTime}
    </select>
    
     <select id="selectPictureBYid" resultType="com.dian.mmall.pojo.tupian.Picture"  >
        select * from picture  where id=#{id}
    </select>
    
   <!--创建用户返回id  create_time -->
     <insert id="createPicture"  >
        insert into picture (
            useStatus, userName, userId, tocken, pictureName,pictureUrl,createTime
        ) values (
            #{useStatus}, #{userName}, #{userId}, #{tocken}, #{pictureName}, #{pictureUrl}, #{createTime}
        )
    </insert>
    
    
 
    
    <update id="updatePicture"  >
    update picture
    set useStatus = 2  where  id=#{id}
  </update>
    
     <update id="updatePictureUse"  >
    update picture
    set useStatus = 3   where id=#{id}
  </update>
</mapper>