<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dian.mmall.dao.PictureMapper">
  

	
  
    <select id="selectPicture" resultType="com.dian.mmall.pojo.Picture"  >
        select * from picture
        where use_status = #{use_status} and user_name=#{user_name} and 
        tocken=#{tocken}  and picture_name=#{picture_name} and picture_url=#{picture_url}
    </select>
    
   <!--创建用户返回id  -->
     <insert id="createPicture"  >
        insert into picture (
            use_status, user_name, user_id, tocken, picture_name,picture_url,create_time
        ) values (
            #{use_status}, #{user_name}, #{user_id}, #{tocken}, #{picture_name}, #{picture_url}, #{create_time}
        )
    </insert>
    
    
    <update id="updatePicture"  >
    update picture
    set use_status = 2 
    where use_status =  #{use_status} and user_name=#{user_name} and 
        tocken=#{tocken}  and picture_name=#{picture_name} and picture_url=#{picture_url}
  </update>
    
    
</mapper>