<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dian.mmall.dao.RealNameMapper">
  
    
    
   <!--创建用户成功返回非0  -->
     <insert id="newRealName"  >
        insert into t_user_realname (
            userId, provincesId, cityId, districtCountyId,addressDetailed,contact,consigneeName, authentiCationStatus,email,createTime,licenseUrl,detailed
        ) values (
            #{userId}, #{provincesId}, #{cityId}, #{districtCountyId},#{addressDetailed},#{contact}, #{consigneeName},#{authentiCationStatus},#{email},#{createTime},#{licenseUrl},#{detailed}
        )
    </insert>
     
    <select id="getRealName" resultType="com.dian.mmall.pojo.user.RealName">
        select * from t_user_realname where userId=#{userId}
    </select>
    
    
    <select id="isNewRealName"  resultType="int">
        select count(*) from t_user_realname where userId=#{userId}
    </select>
    
</mapper>