<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dian.mmall.dao.releaseDao.ResumeMapper">

	<!--用户我的发布 -->
	<select id="selectResumeById"
		resultType="com.dian.mmall.pojo.zhiwei.Resume">
		select id,userId,position,experience,salary,education,
		describeOne,email,welfareStatus,isPublishContact,createTime,updateTime,authentiCationStatus,
		authentiCationFailure,detailed,addressDetailed,
		gender,age,termOfValidity
		from resume
		where welfareStatus!=3 and userId=#{userId}
	</select>

<!--可见全部条数 -->
	<select id="getreleaseType" resultType="int">
		select releaseType from resume where id=#{id}
	</select>


	<!--创建用户成功返回非0 -->
	<insert id="create_resume">
		insert into resume (
		userId,position,experience,salary,education,
		describeOne,email,welfareStatus,isPublishContact,createTime,updateTime,authentiCationStatus,
		detailed,addressDetailed,
		gender,age,userType,releaseType,termOfValidity
		) values (
		#{userId},
		#{position}, #{experience}, #{salary},#{education},
		#{describeOne},#{email},#{welfareStatus},#{isPublishContact},
		#{createTime},#{updateTime},#{authentiCationStatus},
		#{detailed},#{addressDetailed},
		#{gender},#{age},#{userType},#{releaseType},termOfValidity
		)
	</insert>
	<!--操作 -->

	<update id="operation_resume">
		update resume set updateTime=#{resume.updateTime}
		<if test="type==1 "> ,termOfValidity=#{resume.termOfValidity}  </if>
		<if test="type==2 ">,welfareStatus=#{resume.welfareStatus} </if>
		<if test="type==3 "> ,welfareStatus=#{resume.welfareStatus} </if>
		<if test="type==4 ">
			,termOfValidity=#{resume.termOfValidity},welfareStatus=#{resume.welfareStatus}
		</if>
		<if test="type==5 ">
			,termOfValidity=#{resume.termOfValidity},welfareStatus=#{resume.welfareStatus}
		</if>
		
		<if test="type==7 ">,welfareStatus=#{resume.welfareStatus},examineName='过期定时任务'
		</if>
		<if test="type==8 ">,welfareStatus=#{resume.welfareStatus},examineName='删除定时任务'
		</if>
		
		where userId=#{resume.userId} and id=#{resume.id}
		<if test="type==1 ">and welfareStatus in(1,5)</if>
		<if test="type==2 "> and welfareStatus =1</if>
		<if test="type==4 or type==5"> and welfareStatus in(2,5) and authentiCationStatus=2</if>
		<if test="type==8 "> and welfareStatus =5</if>
		
	</update>

	<update id="update_resume">
		update resume set updateTime=#{updateTime},
		position=
		#{position}, experience=#{experience},
		salary=#{salary},education=#{education},
		describeOne=
		#{describeOne},email=#{email},welfareStatus=#{welfareStatus},isPublishContact=#{isPublishContact},
		authentiCationStatus=#{authentiCationStatus},
		detailed=
		#{detailed},addressDetailed=#{addressDetailed},
		contact=
		#{contact},consigneeName=#{consigneeName},
		gender= #{gender},age=#{age}
		where userId=#{userId} and id=#{id}
	</update>

	<!-- 审核总条数 -->
	<select id="getRresumePageno" resultType="long">
		select count(*) from resume where authentiCationStatus in(1,3)
		<if test="userName!=null and userName.trim()!=''">and userName=#{userName}   </if>
		<if test="contact!=null and contact.trim()!=''">and userId in (select
			userId from t_user_realname where contact=#{contact} )
		</if>
	</select>

	<!--分页待审批 -->
	<select id="getRresumeAll"
		resultType="com.dian.mmall.pojo.zhiwei.Resume">
		select * from resume where authentiCationStatus in(1,3)
		<if test="userName!=null and userName.trim()!=''">and userName=#{userName}   </if>
		<if test="contact!=null and contact.trim()!=''"> and userId in (select
			userId from t_user_realname where contact=#{contact} )
		</if>
		order by createTime limit #{pageLength}, #{pageSize}
	</select>



	<!-- 审核 -->

	<update id="examineResume">
		update resume set
		authentiCationStatus=#{authentiCationStatus},authentiCationFailure=#{authentiCationFailure},examineTime=#{examineTime},examineName=#{examineName},
		welfareStatus=#{welfareStatus}
		where userId=#{userId} and id=#{id}
	</update>



	<!--用户查询分页 -->
	<select id="getUserRresumeList"
		resultType="com.dian.mmall.pojo.zhiwei.Resume">
		select id, userId,position,termOfValidity
		,experience,salary,education,describeOne,isPublishContact,
		createTime,updateTime,detailed,addressDetailed,age,gender,termOfValidity
		from resume where welfareStatus=1
		<if test="detailed!=null and detailed.trim()!=''">and detailed like #{detailed}   </if>
		<if test="position!=null and position.trim()!=''">and position=#{position}   </if>
		order by updateTime desc
		limit #{pageLength}, #{pageSize}
	</select>

	<!--可见全部条数 -->
	<select id="getUserRresumePageno" resultType="long">
		select count(*) from resume where welfareStatus=1
		<if test="detailed!=null and detailed.trim()!=''">and detailed like #{detailed}   </if>
		<if test="position!=null and position.trim()!=''">and position=#{position}   </if>
	</select>

	<!--查询手机号 -->
	<select id="getResumeContactById"
		resultType="com.dian.mmall.pojo.zhiwei.Resume">
		select * from resume where welfareStatus=1 and id=#{id}
		<if test="queriesType==1">and isPublishContact=1   </if>
		<if test="queriesType==2">and email is not null   </if>
	</select>

	<!--管理查询全部 -->
	<select id="adminGetResumeall"
		resultType="com.dian.mmall.pojo.zhiwei.Resume">
		select id, userId,position,termOfValidity
		,experience,salary,education,describeOne,isPublishContact,welfareStatus,
		createTime,updateTime,detailed,addressDetailed,age,gender,termOfValidity
		from resume where welfareStatus=1 and userId=#{userId}

	</select>

</mapper>