<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dian.mmall.dao.ServiceTypeMapper">

    
    
       <!--创建用户成功返回非0  -->
     <insert id="create_serviceType" >
        insert into serviceType (
            serviceTypeName,releaseType,authentiCationStatus,createUserId,examineName,examineTime,pictureUrl
        ) values (
        #{serviceTypeName},#{releaseType},#{authentiCationStatus},#{createUserId},#{examineName},#{examineTime},#{pictureUrl}
        )
    </insert>

        <!-- 查看该实名城市下发布过服务的标题 -->
     <select id="get_serviceType"  resultType="String">
        select DISTINCT serviceTypeName from serviceType where  releaseType=#{releaseType}     
     <if test="serviceType!=null and serviceType.trim()!=''">and  serviceTypeName like #{serviceType}   </if>  
     
     and (authentiCationStatus=2  or (createUserId=#{userId} and authentiCationStatus=1))  
    </select> 
    
    
       <select id="get_serviceTypeUrl"  resultType="com.dian.mmall.pojo.ServiceType">
        select id, serviceTypeName,pictureUrl from serviceType where  releaseType=#{releaseType}   and authentiCationStatus=2  
     <if test="serviceType!=null and serviceType.trim()!=''">and  serviceTypeName like #{serviceType}   </if>  
    </select> 
    
        <!-- 查看该实名城市下发布过服务的标题 -->
     <select id="get_serviceTypeAll"  resultType="com.dian.mmall.pojo.ServiceType">
        select id, serviceTypeName,createUserId,authentiCationStatus from serviceType where  releaseType=#{releaseType} and   authentiCationStatus in(1,2)   
    </select> 
    
    <select id="selectbyId"  resultType="int">
        select count(*) from serviceType where   authentiCationStatus=2 and id=#{id}  
    </select> 
     
     	

     <select id="getserviceTypeNameCount"  resultType="int">
        select count(*) from serviceType where  
         authentiCationStatus=#{authentiCationStatus} and serviceTypeName=#{serviceType}  
         and releaseType=#{releaseType}
    </select> 
     
     <update id="updatebyId" >
       update serviceType set  
       authentiCationStatus=#{authentiCationStatus}  ,examineName=#{examineName},examineTime=#{examineTime}
        where  id=#{id}
         <if test="authentiCationStatus ==3">and  authentiCationStatus =1   </if>  
    </update>
    
    <update id="deletebyId">
     update serviceType set  
       authentiCationStatus=4
     where id!=#{id} 
    and serviceTypeName=(select   serviceTypeName 
    from (select b.serviceTypeName from serviceType b where b.id=#{id})a )
    
    </update>
    
</mapper>