<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dian.mmall.dao.TUserRoleMapper" >
    <!-- T-User-Role-Mapper -->
   <!--创建用户对应角色关系  -->
     <insert id="createTUserRole">
        insert into t_user_role (
           userid, roleid
        ) values (
            #{userid}, #{roleid}
        )
      
        
    </insert>
</mapper>