<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dian.mmall.dao.UserAccountMapper">

     <!--账户相关   -->   
       <!--创建用户成功返回非0   -->
     <insert id="admin_create_userAccount" >
        insert into t_useraccount (
            userId,realnameId,contact,consigneeName,bankCard,
            alipay,balance,availableAmount,createTime) values (
        #{userId},#{realnameId},#{contact},#{consigneeName},#{bankCard},       
        #{alipay},#{balance},#{availableAmount},#{createTime})
    </insert>
   
        <!-- 查看该实名城市下发布过服务的标题 
     <select id="getAddressDetailed"  resultType="String">
        select DISTINCT addressDetailed from peixun where  detailed=#{detailed}       
        <if test="addressDetailed!=null and addressDetailed.trim()!=''">and  addressDetailed like #{addressDetailed}   </if>   
     </select> 
    -->

        <!-- 查看该实名城市下发布过服务的标题
     <select id="get_serviceTypeAll"  resultType="com.dian.mmall.pojo.ServiceType">
        select id, serviceTypeName,createUserId,authentiCationStatus from serviceType where  releaseType=#{releaseType} and   authentiCationStatus in(1,2)   
    </select> 
    
    <select id="selectbyId"  resultType="int">
        select count(*) from serviceType where   authentiCationStatus=2 and id=#{id}  
    </select> 
    
     <update id="updatebyId" >
       update serviceType set  
       authentiCationStatus=#{authentiCationStatus}  ,examineName=#{examineName},examineTime=#{examineTime}
        where  id=#{id}
         <if test="authentiCationStatus ==3">and  authentiCationStatus =1   </if>  
    </update>
    
    <update id="deletebyId">
     update serviceType set  
       authentiCationStatus=4
     where id!=#{id} 
    and serviceTypeName=(select   serviceTypeName 
    from (select b.serviceTypeName from serviceType b where b.id=#{id})a )
    
    </update>
     -->
</mapper>