<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.dian.mmall.dao.releaseDao.WholesaleCommodityMapper">

	<!--发布过的条数 -->
	<select id="countNum" resultType="int">
		select count(*) from
		shichang_wholesaleCommodity where welfareStatus!=3 and
		releaseType=#{releaseType} and userId =#{userId}
	</select>

	<!--创建用户成功返回非0 -->
	<insert id="create_wholesaleCommodity">
		insert into shichang_wholesaleCommodity (
		userId,releaseType,updateTime,createTime,pictureUrl,realNameId,
		serviceType,releaseTitle,
		detailed,addressDetailed,commodityPacking,
		commoditySpecifications,
		commodityJiage,
		commodityCountNo,commodityReserveNo,commoditySurplusNo,
		remarks,serviceIntroduction,
		reserve,deliveryType,deliveryCollect,
		startTime,endTime,authentiCationStatus,welfareStatus

		) values (
		#{userId}, #{releaseType}, #{updateTime}, #{createTime},#{pictureUrl},
		#{realNameId},#{serviceType},#{releaseTitle},
		#{detailed},#{addressDetailed},
		#{commodityPacking},
		#{commoditySpecifications},#{commodityJiage},
		#{commodityCountNo},#{commodityReserveNo},#{commoditySurplusNo},
		#{remarks},#{serviceIntroduction},
		#{reserve},#{deliveryType},#{deliveryCollect},
		#{startTime},#{endTime},#{authentiCationStatus},#{welfareStatus}
		)
	</insert><!-- countNum -->



	<select id="get_wholesaleCommodity_serviceType"
		resultType="String">
		select DISTINCT serviceType from shichang_wholesaleCommodity
		where
		releaseType=#{releaseType}
		<if test="type==2">
			and userId= #{userId}
			<if test="welfareStatus==0  and commodityType==0"> and welfareStatus in(1,2,4,5) </if>
			<if test="commodityType==1">and welfareStatus in(1,2) and startTime &lt;
				#{dateString} and endTime &gt; #{dateString} </if>
			<if test="commodityType==2">and (welfareStatus =5 or endTime &lt; #{dateString} )
			</if>
			<if test="commodityType==3">and welfareStatus in(1,2) and startTime &gt;
				#{dateString}
			</if>
			<if test="welfareStatus!=0">and welfareStatus= #{welfareStatus}   </if>
		</if>
		<if test="type==1">and welfareStatus = 1 and startTime &lt; #{dateString} and
			endTime &gt; #{dateString}   </if>
		<if test="serviceType!=null and serviceType.trim()!=''">and serviceType like #{serviceType}   </if>

	</select>

	<select id="get_myWholesaleCommodityNo" resultType="long">
		select count(*) from shichang_wholesaleCommodity
		where
		releaseType=#{releaseType}
		<if test="type==2">
			and userId= #{userId}
			<if test="welfareStatus==0  and commodityType==0"> and welfareStatus in(1,2,4,5) </if>
			<if test="commodityType==1">and welfareStatus in(1,2) and startTime &lt;
				#{dateString} and endTime &gt; #{dateString} </if>
			<if test="commodityType==2">and (welfareStatus =5 or endTime &lt; #{dateString} )
			</if>
			<if test="commodityType==3">and welfareStatus in(1,2) and startTime &gt;
				#{dateString}
			</if>
			<if test="welfareStatus!=0">and welfareStatus= #{welfareStatus}   </if>
		</if>
		<if test="type==1">and welfareStatus = 1 and startTime &lt; #{dateString} and
			endTime &gt; #{dateString}   </if>
		<if test="serviceType!=null and serviceType.trim()!=''">and serviceType like #{serviceType}   </if>

	</select>

	<select id="get_myWholesaleCommodity_list"
		resultType="com.dian.mmall.pojo.WholesaleCommodity">
		select
		id,userId,releaseType,updateTime,createTime,pictureUrl,realNameId,
		serviceType,releaseTitle,
		detailed,addressDetailed,commodityPacking,
		commoditySpecifications,
		commodityJiage,
		commodityCountNo,commodityReserveNo,commoditySurplusNo,
		remarks,serviceIntroduction,
		reserve,deliveryType,deliveryCollect,
		startTime,endTime,authentiCationStatus,welfareStatus,
		servicFrequenc,evaluateid
		from shichang_wholesaleCommodity
		where
		releaseType=#{releaseType}
		<if test="type==2">
			and userId= #{userId}
			<if test="welfareStatus==0  and commodityType==0"> and welfareStatus in(1,2,4,5) </if>
			<if test="commodityType==1">and welfareStatus in(1,2) and startTime &lt;
				#{dateString} and endTime &gt; #{dateString} </if>
			<if test="commodityType==2">and (welfareStatus =5 or endTime &lt; #{dateString} )
			</if>
			<if test="commodityType==3">and welfareStatus in(1,2) and startTime &gt;
				#{dateString}
			</if>
			<if test="welfareStatus!=0">and welfareStatus= #{welfareStatus}   </if>
		</if>
		<if test="type==1">and welfareStatus = 1 and startTime &lt; #{dateString} and
			endTime &gt; #{dateString}   </if>
		<if test="serviceType!=null and serviceType.trim()!=''">and serviceType like #{serviceType}   </if>
		order by updateTime desc
		limit #{pageLength}, #{pageSize}
	</select>


	<!-- 审核分页总条数 -->
	<select id="adminWholesaleCommodity_no" resultType="long">
		select count(*) from shichang_wholesaleCommodity where
		authentiCationStatus in(1,3) and releaseType=#{releaseType}
		<!-- <if test="userId!=0">and userId=#{userId} </if> -->
	</select>

	<!-- 审核分页 -->

	<select id="adminWholesaleCommodity"
		resultType="com.dian.mmall.pojo.WholesaleCommodity">
		select id,userId,releaseType,serviceType,
		releaseTitle,detailed,addressDetailed,commodityPacking,commoditySpecifications,
		commodityJiage,commodityCountNo,serviceIntroduction,
		remarks,pictureUrl,deliveryType,deliveryCollect,
		startTime,endTime,reserve,createTime,updateTime,
		welfareStatus,authentiCationStatus,authentiCationFailure,
		examineName  
		from shichang_wholesaleCommodity
		where authentiCationStatus in(1,3) and releaseType=#{releaseType}
		order by startTime desc
		limit #{pageLength}, #{pageSize}
	</select>


	<!-- 审核分页总条数 -->
	<select id="adminWholesaleCommodity_no_realName"
		resultType="long">
		select count(*) from shichang_wholesaleCommodity where
		authentiCationStatus in(1,3) and releaseType=#{releaseType}
		and userId in(
		select userId from t_user_realname
		where authentiCationStatus=2
		<if test="contact!=null and contact.trim()!=''">and contact=#{contact}   </if>
		<if test="companyName!=null and companyName.trim()!=''">and companyName=#{companyName}   </if>
		<if test="detailed!=null and detailed.trim()!=''">and detailed=#{detailed}   </if>
		)
	</select>

	<!-- 审核分页 -->

	<select id="adminWholesaleCommodity_realName"
		resultType="com.dian.mmall.pojo.WholesaleCommodity">
		select id,userId,releaseType,serviceType,
		releaseTitle,detailed,addressDetailed,commodityPacking,commoditySpecifications,
		commodityJiage,commodityCountNo,serviceIntroduction,
		remarks,pictureUrl,deliveryType,deliveryCollect,
		startTime,endTime,reserve,createTime,updateTime,
		welfareStatus,authentiCationStatus,authentiCationFailure,
		examineName
		from shichang_wholesaleCommodity
		where authentiCationStatus in(1,3) and releaseType=#{releaseType}
		and userId in(
		select userId from t_user_realname
		where authentiCationStatus=2
		<if test="contact!=null and contact.trim()!=''">and contact=#{contact}   </if>
		<if test="companyName!=null and companyName.trim()!=''">and companyName=#{companyName}   </if>
		<if test="detailed!=null and detailed.trim()!=''">and detailed=#{detailed}   </if>
		)
		order by startTime desc
		limit #{pageLength}, #{pageSize}
	</select>
   <!-- 审核  -->  
    
       <update id="examineWholesaleCommodity" >
       update shichang_wholesaleCommodity set  
       authentiCationStatus=#{authentiCationStatus},authentiCationFailure=#{authentiCationFailure},examineTime=#{examineTime},examineName=#{examineName},
       welfareStatus=#{welfareStatus}
        where userId=#{userId}  and id=#{id}
    </update>




</mapper>