<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.dian.mmall.dao.releaseDao.WholesaleCommodityMapper">

	<!--发布过的条数 -->
	<select id="countNum" resultType="int">
		select count(*) from
		shichang_wholesaleCommodity where welfareStatus!=3 and
		releaseType=#{releaseType} and userId =#{userId}
	</select>

	<!--创建用户成功返回非0 -->
	<insert id="create_wholesaleCommodity">
		insert into shichang_wholesaleCommodity (
		userId,releaseType,updateTime,createTime,pictureUrl,realNameId,
		serviceType,releaseTitle,
		detailed,addressDetailed,commodityPacking,
		cations,specifi,
		commodityJiage,
		commodityCountNo,commodityReserveNo,commoditySurplusNo,
		remarks,serviceIntroduction,
		reserve,deliveryType,deliveryCollect,
		startTime,endTime,authentiCationStatus,welfareStatus,selectedOptions

		) values (
		#{userId}, #{releaseType}, #{updateTime}, #{createTime},#{pictureUrl},
		#{realNameId},#{serviceType},#{releaseTitle},
		#{detailed},#{addressDetailed},
		#{commodityPacking},
		#{cations},#{specifi},#{commodityJiage},
		#{commodityCountNo},#{commodityReserveNo},#{commoditySurplusNo},
		#{remarks},#{serviceIntroduction},
		#{reserve},#{deliveryType},#{deliveryCollect},
		#{startTime},#{endTime},#{authentiCationStatus},#{welfareStatus},
		#{selectedOptions}
		)
	</insert><!-- countNum -->


	<select id="get_wholesaleCommodity_serviceType"
		resultType="String">
		select DISTINCT serviceType from shichang_wholesaleCommodity
		where
		releaseType=#{releaseType}
		<if test="type==2">
			and userId= #{userId}
			<if test="welfareStatus==0  and commodityType==0"> and welfareStatus in(1,2,4,5) </if>
			<if test="commodityType==1">and welfareStatus in(1,2) and startTime &lt;
				#{dateString} and endTime &gt; #{dateString} </if>
			<if test="commodityType==2">and (welfareStatus =5 or endTime &lt; #{dateString} )
			</if>
			<if test="commodityType==3">and welfareStatus in(1,2) and startTime &gt;
				#{dateString}
			</if>
			<if test="welfareStatus!=0">and welfareStatus= #{welfareStatus}   </if>
		</if>
		<if test="type==1">and welfareStatus = 1 and startTime &lt; #{dateString} and
			endTime &gt; #{dateString}   </if>
		<if test="serviceType!=null and serviceType.trim()!=''">and serviceType like #{serviceType}   </if>

	</select>
  
  	<select id="wholesaleCommodity_serviceType"
		resultType="String">
		select DISTINCT serviceType from shichang_wholesaleCommodity
		where
		releaseType=#{releaseType}  
		and userId in(
		select userId from t_user_realname where  authentiCationStatus=2 and detailed=#{selectedOptions}
		)
		
		and welfareStatus=1 and  startTime &lt; #{createTime} and endTime &gt; #{createTime}
		<if test="serviceType!=null and serviceType.trim()!=''">and serviceType like #{serviceType}   </if>
		
		<if test="companyName!=null and companyName.trim()!=''">and userId in(
		select userId from t_user_realname where  authentiCationStatus=2 and companyName=#{companyName}
		)   </if>
	
	</select>
  
  
	<select id="get_myWholesaleCommodityNo" resultType="long">
		select count(*) from shichang_wholesaleCommodity
		where
		releaseType=#{releaseType}
		<if test="type==2">
			and userId= #{userId}
			<if test="welfareStatus==0  and commodityType==0"> and welfareStatus in(1,2,4,5) </if>
			<if test="commodityType==1">and welfareStatus in(1,2) and startTime &lt;
				#{dateString} and endTime &gt; #{dateString} </if>
			<if test="commodityType==2">and (welfareStatus =5 or endTime &lt; #{dateString} )
			</if>
			<if test="commodityType==3">and welfareStatus in(1,2) and startTime &gt;
				#{dateString}
			</if>
			<if test="welfareStatus!=0">and welfareStatus= #{welfareStatus}   </if>
		</if>
		<if test="type==1">and welfareStatus = 1 and startTime &lt; #{dateString} and
			endTime &gt; #{dateString}   </if>
		<if test="serviceType!=null and serviceType.trim()!=''">and serviceType like #{serviceType}   </if>

	</select>

	<select id="get_myWholesaleCommodity_list"
		resultType="com.dian.mmall.pojo.WholesaleCommodity">
		select
		id,userId,releaseType,updateTime,createTime,pictureUrl,realNameId,
		serviceType,releaseTitle,
		detailed,addressDetailed,commodityPacking,
		cations,specifi,
		commodityJiage,
		commodityCountNo,commodityReserveNo,commoditySurplusNo,
		remarks,serviceIntroduction,
		reserve,deliveryType,deliveryCollect,
		startTime,endTime,authentiCationStatus,authentiCationFailure,
		welfareStatus,
		servicFrequenc,evaluateid
		from
		shichang_wholesaleCommodity
		where
		releaseType=#{releaseType}
		<if test="type==2">
			and userId= #{userId}
			<if test="welfareStatus==0  and commodityType==0"> and welfareStatus in(1,2,4,5) </if>
			<if test="commodityType==1">and welfareStatus in(1,2) and startTime &lt;
				#{dateString} and endTime &gt; #{dateString} </if>
			<if test="commodityType==2">and (welfareStatus =5 or endTime &lt; #{dateString} )
			</if>
			<if test="commodityType==3">and welfareStatus in(1,2) and startTime &gt;
				#{dateString}
			</if>
			<if test="welfareStatus!=0">and welfareStatus= #{welfareStatus}   </if>
		</if>
		<if test="type==1">and welfareStatus = 1 and startTime &lt; #{dateString} and
			endTime &gt; #{dateString}   </if>
		<if test="serviceType!=null and serviceType.trim()!=''">and serviceType like #{serviceType}   </if>
		order by updateTime desc
		limit #{pageLength}, #{pageSize}
	</select>


	<!-- 审核分页总条数 -->
	<select id="adminWholesaleCommodity_no" resultType="long">
		select count(*) from shichang_wholesaleCommodity where
		authentiCationStatus in(1,3) and releaseType=#{releaseType}
		<!-- <if test="userId!=0">and userId=#{userId} </if> -->
	</select>

	<!-- 审核分页 -->

	<select id="adminWholesaleCommodity"
		resultType="com.dian.mmall.pojo.WholesaleCommodity">
		select id,userId,releaseType,serviceType,
		releaseTitle,detailed,addressDetailed,commodityPacking,cations,specifi,
		commodityJiage,commodityCountNo,serviceIntroduction,
		remarks,pictureUrl,deliveryType,deliveryCollect,
		startTime,endTime,reserve,createTime,updateTime,
		welfareStatus,authentiCationStatus,authentiCationFailure,
		examineName
		from shichang_wholesaleCommodity
		where authentiCationStatus in(1,3) and
		releaseType=#{releaseType}
		order by startTime desc
		limit #{pageLength},
		#{pageSize}
	</select>


	<!-- 审核分页总条数 -->
	<select id="adminWholesaleCommodity_no_realName"
		resultType="long">
		select count(*) from shichang_wholesaleCommodity where
		authentiCationStatus in(1,3) and releaseType=#{releaseType}
		and userId
		in(
		select userId from t_user_realname
		where authentiCationStatus=2
		<if test="contact!=null and contact.trim()!=''">and contact=#{contact}   </if>
		<if test="companyName!=null and companyName.trim()!=''">and companyName=#{companyName}   </if>
		<if test="detailed!=null and detailed.trim()!=''">and detailed=#{detailed}   </if>
		)
	</select>

	<!-- 审核分页 -->

	<select id="adminWholesaleCommodity_realName"
		resultType="com.dian.mmall.pojo.WholesaleCommodity">
		select id,userId,releaseType,serviceType,
		releaseTitle,detailed,addressDetailed,commodityPacking,cations,specifi,
		commodityJiage,commodityCountNo,serviceIntroduction,
		remarks,pictureUrl,deliveryType,deliveryCollect,
		startTime,endTime,reserve,createTime,updateTime,
		welfareStatus,authentiCationStatus,authentiCationFailure,
		examineName
		from shichang_wholesaleCommodity
		where authentiCationStatus in(1,3) and
		releaseType=#{releaseType}
		and userId in(
		select userId from
		t_user_realname
		where authentiCationStatus=2
		<if test="contact!=null and contact.trim()!=''">and contact=#{contact}   </if>
		<if test="companyName!=null and companyName.trim()!=''">and companyName=#{companyName}   </if>
		<if test="detailed!=null and detailed.trim()!=''">and detailed=#{detailed}   </if>
		)
		order by startTime desc
		limit #{pageLength}, #{pageSize}
	</select>
	<!-- 审核 -->

	<update id="examineWholesaleCommodity">
		update shichang_wholesaleCommodity set
		authentiCationStatus=#{authentiCationStatus},authentiCationFailure=#{authentiCationFailure},examineTime=#{examineTime},examineName=#{examineName},
		welfareStatus=#{welfareStatus}
		where userId=#{userId} and id=#{id}
	</update>

	<!--编辑时先查询有无记录 -->
	<select id="checkout_count" resultType="int">
		select count(*) from
		shichang_wholesaleCommodity where welfareStatus!=3 and
		id=#{id} and
		userId =#{userId}
	</select>


	<!-- 用户操作 -->
	<update id="operation_userWholesaleCommodity">
		update shichang_wholesaleCommodity set
		<if test="type==1 "> updateTime=#{updateTime} </if>
		<if test="type==3 "> welfareStatus=2,updateTime=#{updateTime} </if>
		<if test="type==4 "> welfareStatus=1,updateTime=#{updateTime}</if>
		<if test="type==5 "> welfareStatus=3,updateTime=#{updateTime}</if>
		where id=#{id}
		<if test="type==3 "> and welfareStatus=1</if>
		<if test="type==4 "> and welfareStatus=2</if>
	</update>


	<select id="get_userWholesaleCommodity_id"
		resultType="com.dian.mmall.pojo.WholesaleCommodity">
		select id,userId,releaseType,serviceType,
		releaseTitle,detailed,addressDetailed,commodityPacking,cations,specifi,
		commodityJiage,commodityCountNo,serviceIntroduction,
		remarks,pictureUrl,deliveryType,deliveryCollect,
		startTime,endTime,reserve,selectedOptions,createTime
		from shichang_wholesaleCommodity
		where
		userId=#{userId} and id=#{id}
	</select>
	
	
		<!--创建用户成功返回非0 -->
	<update id="update_wholesaleCommodity">
		update shichang_wholesaleCommodity set
		updateTime= #{updateTime},pictureUrl= #{pictureUrl},
		realNameId=#{realNameId},releaseTitle=#{releaseTitle},
		detailed=#{detailed},addressDetailed=#{addressDetailed},
		commodityPacking=#{commodityPacking},
		cations=#{cations},specifi=#{specifi},commodityJiage=#{commodityJiage},
		commodityCountNo=#{commodityCountNo},commodityReserveNo=#{commodityReserveNo},
		commoditySurplusNo=#{commoditySurplusNo},
		remarks=#{remarks},serviceIntroduction=#{serviceIntroduction},
		reserve=#{reserve},deliveryType=#{deliveryType},deliveryCollect=#{deliveryCollect},
		startTime=#{startTime},endTime=#{endTime},authentiCationStatus=#{authentiCationStatus},
		welfareStatus=#{welfareStatus},
		selectedOptions=#{selectedOptions},authentiCationFailure=#{authentiCationFailure}
		where id=#{id}
	</update><!-- countNum -->



  <!-- 公开列表 开始-->

	<select id="getWholesaleCommodityPublicListNo" resultType="long">
		select count(*) 
		from shichang_wholesaleCommodity
	
		where 
		
		releaseType=#{releaseType}  
		and userId in(
		select userId from t_user_realname where  authentiCationStatus=2 and detailed=#{selectedOptions}
		)
		and
		welfareStatus=1 and  startTime &lt; #{createTime} and endTime &gt; #{createTime} 
		
		<if test="serviceType!=null and serviceType.trim()!=''">and serviceType like #{serviceType}   </if>
		<if test="companyName!=null and companyName.trim()!=''">and userId in(
		select userId from t_user_realname where  authentiCationStatus=2 and companyName=#{companyName}
		)   </if>		
	</select>

	<select id="getWholesaleCommodityPublicList"
		resultType="com.dian.mmall.pojo.WholesaleCommodity">
		select id,releaseType,serviceType,
		releaseTitle,commodityPacking,commodityJiage,commoditySurplusNo,
		reserve,specifi,cations,pictureUrl
		from shichang_wholesaleCommodity
		where 
		releaseType=#{releaseType}  
		and userId in(
		select userId from t_user_realname where  authentiCationStatus=2 and detailed=#{selectedOptions}
		)
		and
		welfareStatus=1 and  startTime &lt; #{createTime} and endTime &gt; #{createTime} 
			<if test="serviceType!=null and serviceType.trim()!=''">and serviceType like #{serviceType}   </if>
		
		<if test="companyName!=null and companyName.trim()!=''">and userId in(
		select userId from t_user_realname where  authentiCationStatus=2 and companyName=#{companyName}
		)   </if>	
		order by updateTime desc
		limit #{pageLength}, #{pageSize}
	</select>
  <!-- 公开列表 结束-->
    
  <select id="getWholesaleCommodityPublicId"
		resultType="com.dian.mmall.pojo.WholesaleCommodity">
		select id,userId,releaseType,serviceType,
		releaseTitle,detailed,addressDetailed,commodityPacking,cations,specifi,
		commodityJiage,commoditySurplusNo,serviceIntroduction,
		remarks,pictureUrl,deliveryType,deliveryCollect,
		startTime,endTime,reserve,createTime,
		evaluateid,servicFrequenc,realNameId
		from shichang_wholesaleCommodity
		where id=#{id}  and welfareStatus=1
	</select>
	
	
	
	
	 <!-- 公开列表 开始-->

	<select id="getWholesaleCommodityBoolean" resultType="int">
		select count(*) 
		from shichang_wholesaleCommodity
	
		where 
	welfareStatus=1 and 
	
	addressDetailed=#{addressDetailed} and 
	cations=#{cations} and 
	commodityPacking=#{commodityPacking} and 
	deliveryCollect=#{deliveryCollect} and 
	deliveryType=#{deliveryType} and 
	detailed=#{detailed} and 
	id=#{id} and 
	releaseTitle=#{releaseTitle} and 
	releaseType=#{releaseType} and 
	reserve=#{reserve} and 
	serviceType=#{serviceType} and 
	specifi=#{specifi}	 and 
	commoditySurplusNo &lt;  #{commodityReserveNo} and
	startTime &lt;   #{updateTime} and
	endTime   &gt;   #{updateTime} 
	</select>
	
	
	
	  <select id="getWholesalecommodity"
		resultType="com.dian.mmall.pojo.WholesaleCommodity">
		select serviceType,commodityPacking ,cations,specifi 
		from shichang_wholesaleCommodity
		where selectedOptions  like #{selectedOptions}  and releaseType=#{releaseType} and authentiCationStatus=2
	   GROUP BY serviceType,commodityPacking ,cations,specifi  
	   order  by serviceType
	</select>
	
</mapper>